

#aboutMe{
 
    font-size: 24px;
    color: teal;
    padding-left: 20px;
    font-weight: bold;
}

#aboutLine{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 200%;
}

#portrait{
    background: white;
    float: left;
    padding-right: 5px;
    padding-top: 13px;
    
}
.wrapper{
    clear: both;
    position: relative;
    background: grey;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    float: left;
}
.content{
    width: 920px;
    height: 500px;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
}
@media screen and (max-width:1200px){
    body{
      width: 90%;
   }

   .wrapper{
     width: 90%;
 }
 .content{

     width: 90%;
 }

}
  /* Add other media sections for other devices and adjust values accordingly */