
#headerNav{
    position: fixed;
    width: 90%;
    background: #ffffff;
    color:#ffff;
    border-bottom: 2px solid #ccc;
    margin-bottom: 50px;

}
#logo{
    float: left;
    width: 250px;
    height: 90px;
    color: white;
    background: #4aaaa5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: none;
}

nav{
    float: right;

}

nav a{
    display: inline-block;
    text-decoration: none;
    border-left: 1px solid #cccccc;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 15px;
    color: #cccccc;
}
nav a:first-child{
    border-left: 0 none;
}
#portfolio{
    color:#4aaaa5;
}
h1{
    clear: both;
    color: #4aaaa5;
}

#Portfolio{
    background:#ffffff;
    font-size: 18px;
    padding-top: 20px;
    margin-top: 75px;
    border-bottom: 2px solid #ccc;
}

#image1{
    padding-top: 20px;
    float: left;
    margin-right: 20px;
}

#image2{
    padding-top: 20px;

}

#image3{
    float: left;
}

#footer{
    clear: both;
    text-align: center;
}

.wrapper{
    width: 960px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-left: 100px;
    background:white;
    height: 600px;
}

#pagecontainer{
    background:white;
    width: 1060px;
}

@media screen and (max-width:1200px){
    body{
      width: 90%;
   }
 
   .wrapper{
     width: 90%;
 }
 .content{
 
     width: 90%;
 }
 #img2{
  padding-bottom: 40px;
  padding-right: 1px;
 }
}
   /* Add other media sections for other devices and adjust values accordingly */